# Aggregate data on social media removals
- Test using Twitter report (January - June 2019) and related info from Luminate

In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

### Twitter transparency report

In [17]:
# twitter data
twitter = pd.read_csv('../data/twitter/removal-requests-report-jan-jun-2019.csv', decimal=',')
twitter.head()

,TIME PERIOD,COUNTRY,REMOVAL REQUESTS (COURT ORDERS),"REMOVAL REQUESTS (GOVT AGENCY, POLICE, OTHER)",PERCENTAGE WHERE SOME CONTENT WITHHELD,ACCOUNTS SPECIFIED,ACCOUNTS WITHHELD,TWEETS WITHHELD,ACCOUNTS (TOS)
0,January - June 2019,Afghanistan,-,-,-,-,-,-,-
1,January - June 2019,Albania,0,1,0%,1,0,0,1
2,January - June 2019,Argentina,0,1,0%,1,0,0,0
3,January - June 2019,Australia,1,4,0%,5,0,0,1
4,January - June 2019,Austria,0,3,0%,3,0,0,1

In [18]:
twitter.query('COUNTRY == "Afghanistan"')

,TIME PERIOD,COUNTRY,REMOVAL REQUESTS (COURT ORDERS),"REMOVAL REQUESTS (GOVT AGENCY, POLICE, OTHER)",PERCENTAGE WHERE SOME CONTENT WITHHELD,ACCOUNTS SPECIFIED,ACCOUNTS WITHHELD,TWEETS WITHHELD,ACCOUNTS (TOS)
0,January - June 2019,Afghanistan,-,-,-,-,-,-,-

In [19]:
twitter.dtypes

TIME PERIOD                                      object
COUNTRY                                          object
REMOVAL REQUESTS (COURT ORDERS)                  object
REMOVAL REQUESTS (GOVT AGENCY, POLICE, OTHER)    object
PERCENTAGE WHERE SOME CONTENT WITHHELD           object
ACCOUNTS SPECIFIED                               object
ACCOUNTS WITHHELD                                object
TWEETS WITHHELD                                  object
ACCOUNTS (TOS)                                   object
dtype: object

In [20]:
# Function to convert columns to int32
def data_types(dataframe, cols = [], to_type = ''):
    for col in cols:
        try:
            dataframe[col] = pd.to_numeric(dataframe[col], errors='coerce')
            dataframe[col] = dataframe[col].astype(to_type)
        except ValueError as e:
            print(e)
            pass
    
    return dataframe.dtypes

In [21]:
cols = ['REMOVAL REQUESTS (COURT ORDERS)', 'REMOVAL REQUESTS (GOVT AGENCY, POLICE, OTHER)', 'ACCOUNTS SPECIFIED', 'ACCOUNTS WITHHELD', 'TWEETS WITHHELD']

In [22]:
data_types(twitter, cols, 'int32')

Cannot convert non-finite values (NA or inf) to integer
Cannot convert non-finite values (NA or inf) to integer
Cannot convert non-finite values (NA or inf) to integer
Cannot convert non-finite values (NA or inf) to integer
Cannot convert non-finite values (NA or inf) to integer

TIME PERIOD                                       object
COUNTRY                                           object
REMOVAL REQUESTS (COURT ORDERS)                  float64
REMOVAL REQUESTS (GOVT AGENCY, POLICE, OTHER)    float64
PERCENTAGE WHERE SOME CONTENT WITHHELD            object
ACCOUNTS SPECIFIED                               float64
ACCOUNTS WITHHELD                                float64
TWEETS WITHHELD                                  float64
ACCOUNTS (TOS)                                    object
dtype: object

In [26]:
len(twitter[twitter['REMOVAL REQUESTS (GOVT AGENCY, POLICE, OTHER)'] > 0])

44